.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-info {
  width: 250px;
  margin: 1rem;
  background-color: var(blue);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.project-info img {
  width: 100%;
}

.project-title {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.project-title h3 {
  margin-top: 0;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.project-info:hover .overview {
  transform: translateY(0);
}